<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{}.%method\(\) - %msg%n%ex</pattern>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="stdout"/>
	</root>
	<logger name="org.testng" level="warn"/>
	<logger name="com.github.cowwoc.requirements.java.internal.util.Exceptions" level="warn"/>
	<logger name="com.github.cowwoc.requirements.java.internal.terminal.Terminal" level="warn"/>
</configuration>