<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>branch</name>
          <description>What branch should be built?</description>
          <defaultValue>default</defaultValue>
          <successfulOnly>true</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.61">
    <script>// Command-line options (taken from https://jenkins.io/doc/pipeline/examples/):
// --batch-mode : recommended in CI to inform maven to not run in interactive mode (less logs)
// -V : strongly recommended in CI, will display the JDK and Maven versions in use.
//      Very useful to be quickly sure the selected versions were the ones you think.
// -U : force maven to update snapshots each time (default : once an hour, makes no sense in CI).
// -Dsurefire.useFile=false : useful in CI. Displays test errors in the logs directly (instead of
//                            having to crawl the workspace files to see the cause).
// -e : Display stack-traces on failure
// -------------------------------------------------------------------------------------------------
//
//
// GCC versions
// ------------
//
// GCC outputs dynamically-linked libraries that depend on specific versions of the glibc library.
// https://gcc.gnu.org/onlinedocs/libstdc++/manual/abi.html lists which GLIBCXX version ships with each version of GCC.
// As of 2017-03-09, AWS linux images ship with GCC 6.4: https://aws.amazon.com/amazon-linux-ami/2017.09-release-notes/
// Therefore, we must use this version of GCC or older.
//
// Using a newer version of GCC results in the following kind of error:
//
// java.lang.UnsatisfiedLinkError: librequirements.so: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.21&apos; not found (required by librequirements.so)
//
// See http://stackoverflow.com/a/17275650/14731 for overriding the GCC version used by CMake


// Open a new staging repository and capture its ID
def repository = &quot;bitbucket.org/cowwoc/requirements/&quot;
// One can look up a project&apos;s profileId by running: mvn nexus-staging:rc-list-profiles -DserverId=sonatype-nexus-staging -DnexusUrl=https://oss.sonatype.org/
def stagingProfileId = &quot;353562598afa&quot;
def stagingRepositoryId
def branch = &quot;default&quot;

node(&quot;linux&quot;)
{
    // http://stackoverflow.com/a/33630506/14731
    withCredentials([[$class: &quot;UsernamePasswordMultiBinding&quot;, credentialsId: &quot;bitbucket&quot;, usernameVariable: &quot;HG_USERNAME&quot;, passwordVariable: &quot;HG_PASSWORD&quot;]])
    {
        def authenticatedRepository = &quot;https://${HG_USERNAME}:${HG_PASSWORD}@${repository}&quot;
        timeout(10)
        {
            stage(&quot;Checkout (linux)&quot;)
            {
                // Wipe out local repository in case it contains extra commits from a previous (broken) build
                deleteDir()
                checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: &quot;https://bitbucket.org/cowwoc/requirements/&quot;], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: &quot;https://bitbucket.org/cowwoc/requirements/&quot;, revision: &quot;${branch}&quot;]
            }
        }
        timeout(10)
        {
            withEnv([&quot;JAVA_HOME=${tool &apos;JDK11_HOME&apos;}&quot;, &quot;HG_HOME=${ tool &apos;mercurial&apos; }&quot;, &quot;PATH+MAVEN+HG=${tool &apos;Maven&apos;}/bin:${tool &apos;mercurial&apos;}:${env.JAVA_HOME}/bin&quot;,
                &quot;HGUSER=Gili Tzabari &lt;gili.tzabari@gmail.com&gt;&quot;])
            {
                stage(&quot;Record stagingRepositoryId&quot;)
                {
                    def output = sh returnStdout: true, script: &quot;mvn --batch-mode -U -e nexus-staging:rc-open -DstagingProfileId=${stagingProfileId}&quot;
                    echo output
                    stagingRepositoryId = ( output =~ /Opened (orgbitbucketcowwoc-\d+)/ ) [0][1]
                }
            }
        }
    }
}

// Build and deploy from all platforms
try
{
    parallel linux:
    {
        // Linux deploys the portable modules as well as its platform-specific binaries.
        // Remaining platforms only deploy platform-specific binaries.
        node(&quot;linux&quot;)
        {
            timeout(2)
            {
                stage(&quot;Checkout&quot;)
                {
                    // Wipe out local repository in case it contains extra commits from a previous (broken) build
                    deleteDir()
                    checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: &quot;https://bitbucket.org/cowwoc/requirements/&quot;], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: &quot;https://bitbucket.org/cowwoc/requirements/&quot;, revision: &quot;${branch}&quot;]
                }
            }
            timeout(15)
            {
                withEnv([&quot;JAVA_HOME=${tool &apos;JDK11_HOME&apos;}&quot;, &quot;PATH+MAVEN=${tool &apos;Maven&apos;}/bin:${env.JAVA_HOME}/bin&quot;])
                {
                    stage(&quot;Deploy (linux)&quot;)
                    {
                        // Deploy platform-specific JAR
                        // Use the same GCC version as AWS. See top of this script for more information.
                        sh script: &quot;&quot;&quot;sudo apt-get install cmake gcc-6 g++-6 -y
                            export CC=/usr/bin/gcc-6
                            export CXX=/usr/bin/g++-6
                            cd natives
                            mvn --batch-mode -e -V -U -Dsurefire.useFile=false -DosDetection=false -Plinux-x86_64-release clean install
                            mvn --batch-mode -e -V -U -Dsurefire.useFile=false -DosDetection=false -Plinux-x86_64-release -Ddeploy clean deploy -DstagingProfileId=${stagingProfileId} -DstagingRepositoryId=${stagingRepositoryId}&quot;&quot;&quot;
                        archiveArtifacts &quot;**/target/*.jar, natives/target/linux-x86_64-release/classes/librequirements.so&quot;
                    }
                }
            }
        }
    }, mac:
    {
        node(&quot;mac&quot;)
        {
            timeout(10)
            {
                stage(&quot;Checkout (mac)&quot;)
                {
                    // Wipe out local repository in case it contains extra commits from a previous (broken) build
                    deleteDir()
                    checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: &quot;https://bitbucket.org/cowwoc/requirements/&quot;], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: &quot;https://bitbucket.org/cowwoc/requirements/&quot;, revision: &quot;${branch}&quot;]
                }
            }
            timeout(15)
            {
                withEnv([&quot;JAVA_HOME=${tool &apos;JDK11_HOME&apos;}&quot;, &quot;PATH+MAVEN=${tool &apos;Maven&apos;}/bin:${env.JAVA_HOME}/bin&quot;])
                {
                    stage(&quot;Deploy (mac)&quot;)
                    {
                        sh script: &quot;&quot;&quot;cd natives
                            mvn --batch-mode -e -U -Dsurefire.useFile=false -DosDetection=false -Pmac-x86_64-release clean install
                            mvn --batch-mode -e -U -Dsurefire.useFile=false -DosDetection=false -Pmac-x86_64-release -Ddeploy clean deploy -DstagingProfileId=${stagingProfileId} -DstagingRepositoryId=${stagingRepositoryId}&quot;&quot;&quot;
                        archiveArtifacts &quot;**/target/*.jar, natives/target/mac-x86_64-release/classes/librequirements.dylib&quot;
                    }
                }
            }
        }
    }, windows:
    {
        node(&quot;windows&quot;)
        {
            timeout(10)
            {
                stage(&quot;Checkout (windows)&quot;)
                {
                    // Wipe out local repository in case it contains extra commits from a previous (broken) build
                    deleteDir()
                    checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: &quot;https://bitbucket.org/cowwoc/requirements/&quot;], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: &quot;https://bitbucket.org/cowwoc/requirements/&quot;, revision: &quot;${branch}&quot;]
                }
            }
            timeout(15)
            {
                withEnv([&quot;JAVA_HOME=${tool &apos;JDK11_HOME&apos;}&quot;, &quot;HG_HOME=${tool &apos;mercurial&apos; }&quot;, &quot;PATH+MAVEN+HG=${tool &apos;Maven&apos;}/bin;${tool &apos;mercurial&apos;};${env.JAVA_HOME}/bin&quot;])
                {
                    stage(&quot;Deploy (windows)&quot;)
                    {
                        bat script: &quot;&quot;&quot;cd natives
                            mvn --batch-mode -e -U -Dsurefire.useFile=false -DosDetection=false -Pwindows-x86_64-release clean install
                            mvn --batch-mode -e -U -Dsurefire.useFile=false -DosDetection=false -Pwindows-x86_64-release -Ddeploy clean deploy -DstagingProfileId=${stagingProfileId} -DstagingRepositoryId=${stagingRepositoryId}&quot;&quot;&quot;
                        archiveArtifacts &quot;**/target/*.jar, natives/target/windows-x86_64-release/classes/*.dll, natives/target/windows-x86_64-release/classes/*.pdb&quot;
                    }
                }
            }
        }
    },
    failFast: true
}
catch (e)
{
    echo &quot;Dropping staging repository due to error&quot;
    try
    {
        // Drop staging repository
        node(&quot;linux&quot;)
        {
            timeout(2)
            {
                stage(&quot;Checkout (linux)&quot;)
                {
                    // Wipe out local repository in case it contains extra commits from a previous (broken) build
                    deleteDir()
                    checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: &quot;https://bitbucket.org/cowwoc/requirements/&quot;], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: &quot;https://bitbucket.org/cowwoc/requirements/&quot;, revision: &quot;${branch}&quot;]
                }
            }
            timeout(5)
            {
                withEnv([&quot;JAVA_HOME=${tool &apos;JDK11_HOME&apos;}&quot;, &quot;PATH+MAVEN=${tool &apos;Maven&apos;}/bin:${env.JAVA_HOME}/bin&quot;])
                {
                    sh script: &quot;mvn --batch-mode -U -e nexus-staging:rc-drop -DstagingProfileId=${stagingProfileId} -DstagingRepositoryId=${stagingRepositoryId}&quot;
                }
            }
        }
    }
    catch (e2)
    {
        // Ignore and throw the original exception
    }
    throw e;
}

// Close the staging repository
node(&quot;linux&quot;)
{
    timeout(2)
    {
        stage(&quot;Checkout (linux)&quot;)
        {
            // Wipe out local repository in case it contains extra commits from a previous (broken) build
            deleteDir()
            checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: &quot;https://bitbucket.org/cowwoc/requirements/&quot;], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: &quot;https://bitbucket.org/cowwoc/requirements/&quot;, revision: &quot;${branch}&quot;]
        }
    }
    timeout(10)
    {
        withEnv([&quot;JAVA_HOME=${tool &apos;JDK11_HOME&apos;}&quot;, &quot;HG_HOME=${tool &apos;mercurial&apos; }&quot;, &quot;PATH+MAVEN+HG=${tool &apos;Maven&apos;}/bin:${tool &apos;mercurial&apos;}:${env.JAVA_HOME}/bin&quot;])
        {
            stage(&quot;Close release&quot;)
            {
                sh script: &quot;mvn --batch-mode -U -e nexus-staging:rc-close -DstagingProfileId=${stagingProfileId} -DstagingRepositoryId=${stagingRepositoryId}&quot;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <quietPeriod>60</quietPeriod>
  <disabled>false</disabled>
</flow-definition>