<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>branch</name>
          <description>What branch should be built?</description>
          <defaultValue>default</defaultValue>
          <successfulOnly>true</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>// Command-line options (taken from https://jenkins.io/doc/pipeline/examples/):
// --batch-mode : recommended in CI to inform maven to not run in interactive mode (less logs)
// -V : strongly recommended in CI, will display the JDK and Maven versions in use.
//      Very useful to be quickly sure the selected versions were the ones you think.
// -U : force maven to update snapshots each time (default : once an hour, makes no sense in CI).
// -Dsurefire.useFile=false : useful in CI. Displays test errors in the logs directly (instead of
//                            having to crawl the workspace files to see the cause).
// -e : Display stack-traces on failure
// -------------------------------------------------------------------------------------------------
//
//
// GCC versions
// ------------
//
// GCC outputs dynamically-linked libraries that depend on specific versions of the glibc library.
// https://gcc.gnu.org/onlinedocs/libstdc++/manual/abi.html lists which GLIBCXX version ships with each version of GCC.
// As of 2017-03-09, AWS linux images ship with GCC 6.4: https://aws.amazon.com/amazon-linux-ami/2017.09-release-notes/
// Therefore, we must use this version of GCC or older.
//
// Using a newer version of GCC results in the following kind of error:
//
// java.lang.UnsatisfiedLinkError: librequirements.so: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.21&apos; not found (required by librequirements.so)
//
// See http://stackoverflow.com/a/17275650/14731 for overriding the GCC version used by CMake

// Per https://issues.sonatype.org/browse/NEXUS-18753 we cannot use Staging Workflows for SNAPSHOT builds.
//
// nexus-staging-maven-plugin does not allow us to run unit tests and deploy at the same time because skipNexusStagingDeployMojo cannot be set to true
// in the last module. Therefore we build twice. The first time we run unit tests without deploying. The second time we deploy without running unit tests.
// -Dmaven.javadoc.skip=true is a workaround for https://bugs.openjdk.java.net/browse/JDK-8216170
def repository = &quot;https://bitbucket.org/cowwoc/requirements.java/&quot;
def branch = &quot;default&quot;

// Build and deploy from all platforms
parallel linux:
{
    // Linux deploys the portable modules as well as its platform-specific binaries.
    // Remaining platforms only deploy platform-specific binaries.
    node(&quot;linux&quot;)
    {
        timeout(2)
        {
            stage(&quot;Checkout&quot;)
            {
                // Wipe out local repository in case it contains extra commits from a previous (broken) build
                deleteDir()
                checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: repository], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: repository, revision: branch]
            }
        }
        timeout(25)
        {
            withEnv([&quot;JAVA_HOME=${tool &apos;JAVA_HOME&apos;}&quot;, &quot;PATH+MAVEN=${tool &apos;Maven&apos;}/bin:${env.JAVA_HOME}/bin&quot;])
            {
                stage(&quot;Deploy (linux)&quot;)
                {
                    // Deploy platform-specific JAR
                    // Use the same GCC version as AWS. See top of this script for more information.
                    sh script: &quot;&quot;&quot;sudo apt-get install cmake gcc-6 g++-6 -y
                        export CC=/usr/bin/gcc-6
                        export CXX=/usr/bin/g++-6
                        mvn --batch-mode -V -e -U -Dsurefire.useFile=false -Dmaven.javadoc.skip=true clean install
                        mvn --batch-mode -e -U -Dsurefire.useFile=false -Ddeploy deploy&quot;&quot;&quot;
                    archiveArtifacts &quot;**/target/*.jar, natives/target/linux-x86_64-release/classes/librequirements.so&quot;
                }
            }
        }
    }
}, mac:
{
    node(&quot;mac&quot;)
    {
        // Grant an additional 10 minutes to brew install Mercurial
        timeout(20)
        {
            stage(&quot;Checkout (mac)&quot;)
            {
                // Wipe out local repository in case it contains extra commits from a previous (broken) build
                deleteDir()
                checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: repository], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: repository, revision: branch]
            }
        }
        timeout(25)
        {
            // gpg resides in /usr/local/bin
            withEnv([&quot;JAVA_HOME=${tool &apos;JAVA_HOME&apos;}&quot;, &quot;PATH+MAVEN=${tool &apos;Maven&apos;}/bin:${env.JAVA_HOME}/bin:/usr/local/bin&quot;])
            {
                stage(&quot;Deploy (mac)&quot;)
                {
                    sh script: &quot;&quot;&quot;mvn --batch-mode -V -e -U -Dsurefire.useFile=false -Dmaven.javadoc.skip=true clean install
                        mvn --batch-mode -e -U -Dsurefire.useFile=false -Ddeploy deploy&quot;&quot;&quot;
                    archiveArtifacts &quot;**/target/*.jar, natives/target/mac-x86_64-release/classes/librequirements.dylib&quot;
                }
            }
        }
    }
}, windows:
{
    node(&quot;windows&quot;)
    {
        timeout(10)
        {
            stage(&quot;Checkout (windows)&quot;)
            {
                // Wipe out local repository in case it contains extra commits from a previous (broken) build
                deleteDir()
                checkout changelog: true, poll: true, scm: [$class: &quot;MercurialSCM&quot;, browser: [$class: &quot;BitBucket&quot;, url: repository], clean: true, credentialsId: &quot;bitbucket&quot;,  installation: &quot;mercurial&quot;, source: repository, revision: branch]
            }
        }
        timeout(25)
        {
            withEnv([&quot;JAVA_HOME=${tool &apos;JAVA_HOME&apos;}&quot;, &quot;HG_HOME=${tool &apos;mercurial&apos; }&quot;, &quot;PATH+MAVEN+HG=${tool &apos;Maven&apos;}/bin;${tool &apos;mercurial&apos;};${env.JAVA_HOME}/bin&quot;])
            {
                stage(&quot;Deploy (windows)&quot;)
                {
                    bat script: &quot;&quot;&quot;call mvn --batch-mode -V -e -U -Dsurefire.useFile=false -Dmaven.javadoc.skip=true clean install
                        call mvn --batch-mode -e -U -Dsurefire.useFile=false -Ddeploy deploy&quot;&quot;&quot;
                    archiveArtifacts &quot;**/target/*.jar, natives/target/windows-x86_64-release/classes/*.dll, natives/target/windows-x86_64-release/classes/*.pdb&quot;
                }
            }
        }
    }
},
failFast: true</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>